@use 'base/variables' as v;

.citas{
    list-style: none;
    padding: 0;
    .li1{
        padding: 1rem;
        border-top: 1px solid v.$blanco;

        p{
            font-weight: v.$bold;
            color: v.$azul;
        }

        span{
            font-weight: v.$regular;
            color: v.$blanco;
        }
    }
    
    .li2{
        .servicio{
            margin-top: 0;
            font-weight: v.$regular;
            color: v.$blanco;
            padding-left: 1rem;
            text-align: left;

        }  
        &:last-child{
            .servicio{
                margin-bottom: 6rem;
                
            }     
        }
    }
    .total{
        padding-left: 1rem;
    }
}
.servicios{
    @extend .otros1; 

    .acciones{
        margin: 0;
    }
    .boton,
    .boton-eliminar{
        margin: 0 1rem 1rem 0;
    }

}
.otros1{
    list-style: none;
    padding: 3rem 0 4rem 1rem ;
    li{
        border-top: 1px solid v.$blanco;
        .servicio{
            margin-top: 0;
            font-weight: v.$regular;
            color: v.$blanco;
            
            text-align: left;

        }  
        &:last-child{
            .servicio{
                margin-bottom: 6rem;
                
            }     
        }
    }
    
    
}

